/*
Plugin Style
*/
.rrze-expo {

    div.puls-container {
        width: 100%;
        height: 150px;
        //position: relative;
        display: table;
        //margin: 50px auto;
        @media screen and (min-width: 37.5em) {
            height: 60px;
        }
    }
    div.puls {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 10px solid #fff;
        display: table;
        background: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -75px 0 0 -75px;
        -webkit-animation: pulsate 5s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0;
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
        @media screen and (min-width: 37.5em) {
            width: 40px;
            height: 40px;
            margin: -20px 0 0 -20px;
            border: 3px solid #fff;
        }
    }
    @-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 1;}
        80% {opacity: 0.5;}
        100% {-webkit-transform: scale(0.8, 0.8); opacity: 0.0;}
    }
    @media screen and (min-width: 37.5em) {
        @-webkit-keyframes pulsate {
            0% {-webkit-transform: scale(0.1, 0.1); opacity: 1;}
            70% {opacity: 0.4;}
            100% {-webkit-transform: scale(1.5, 1.5); opacity: 0.0;}
        }
    }
    div.puls-middle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
        z-index: 99;
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
        @media screen and (min-width: 37.5em) {
            width: 24px;
            height: 24px;
            margin: -12px 0 0 -12px;
        }
    }

    ul.jumplinks {
        margin: 0;
    }
    img {
        box-shadow: none;
    }
    svg.expo-booth {
        /*perspective: 400px;
        .rollup-content {
            width: 155px;
            height: 155px;
            transform: rotateY(45deg);
            img {
                object-fit: cover;
            }
        }*/
    }
    .site-header {
        #rrze-expo-header-content {
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            @media screen and (min-width: 37.5em) {
                width: 90%;
                padding: 10px;
                //padding: 10px 30px;
            }
            @media screen and (min-width: 66.25em) {
                width: 80%;
            }
        }
        .rrze-expo-header-content,
        .rrze-expo-header-content a {
            @media screen and (min-width: 26.25em) {
                display: flex;
                align-items: center;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
        .expo-logo {
            //max-width: 30%;
            max-height: 100px;
            width: auto;
            margin-right: 10px;
            @media screen and (min-width: 37.5em) {
                margin-right: 20px;
            }
            @media screen and (min-width: 66.25em) {
                margin-right: 30px;
            }
        }
        .expo-title {
            flex: 1 0 70%;
            font-size: 20px;
            line-height: 1.3;
            padding: 0;
            margin: 0;
            @media screen and (min-width: 37.5em) {
                font-size: 28px;
            }
            @media screen and (min-width: 66.25em) {
                font-size: 32px;
            }
        }
        .expo-subtitle {
            @media screen and (min-width: 37.5em) {
                font-size: 18px;
            }
            @media screen and (min-width: 66.25em) {
                font-size: 22px;
            }
        }
    }
    main {
        position: relative;
        overflow-x: hidden;
        .booth-nav {
            background: #f3f3f5;
            ul {
                display: table;
                margin: 0 auto;
            }
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
            li.hall-link,
            li.foyer-link {
                display: inline-block;
                font-size: 14px;
                text-align: center;
                background: #f3f3f5;
                padding: 5px;
                svg {
                    vertical-align: text-top;
                    fill: #036;
                }
                a {
                    margin-right: 20px;
                }
            }
            li.prev-booth,
            li.next-booth {
                display: block;
                position: absolute;
                top: 40vh;
                padding: 0;
                z-index: 100;
                &:hover {
                    .nav-prev-text {
                        left: 40px;
                    }
                    .nav-next-text {
                        right: 40px;
                    }
                }
                &.prev-booth {
                    left: 0px;
                    a {
                        padding: 5px 5px 5px 0;
                    }
                }
                &.next-booth {
                    right: 0;
                    a {
                        padding: 5px 0 5px 5px;
                    }
                }
                a {
                    display: block;
                }
                .nav-prev-text,
                .nav-next-text {
                    display: block;
                    position: absolute;
                    min-width: 200px;
                    top: 0;
                    background-color: rgba(255,255,255,.8);
                    padding: 5px;
                }
                .nav-prev-text {
                    left: -200px;
                    transition: left 300ms;
                }
                .nav-next-text {
                    right: -200px;
                    transition: right 300ms;
                }
                svg {
                    fill: #fff;
                    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                }
            }
        }
    }
    .exposition, .foyer, .hall, .podium, .booth {
        position: relative;
        width: 100vw;
        height: 50vw;
        //max-height: 85vmin;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        //color: #fff;
        overflow: hidden;
        display: block;
        padding: 0;
        &:after {
            z-index: -90;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
        }
    }
    .hall {
        height: auto;
        min-height: 50vw;
        overflow-y: scroll;
        padding: 10px;
        @media screen and (min-width: 37.5em) {
            padding: 30px;
        }
    }
    .podium {
        .rrze-video, .plyr {
            height: 100%;
        }
        .schedule {
            background: #fff;
            padding: 20px;
            //width: 500px;
            h2 {
                font-size: 1.6em;
                text-align: center;
            }
            h3 {
                font-size: 1.2em;
            }
            table {
                margin-bottom: 10px;
            }
            td {
                font-size: 1.2em;
            }
        }
        .video-error {
            font-size: 1.6em;
        }
    }
    .booth {
        foreignObject.video .rrze-video,
        foreignObject.video .wp-video {
            border: 7px outset #333;
        }
        .schedule {
            h2 {
                font-size: 1.4em;
                line-height: 1.2;
                padding: 0 0 .3em 0;
                margin: 0 0 .3em 0;
                border-bottom: 1px solid #C5C5C5;
            }
            ul {
                margin: 0;
            }
            li {
                font-size: 1.1em;
                line-height: 1.4;
                list-style-type: none;
                padding-bottom: .3em;
            }
            .talk-title {
                font-weight: bold;
            }
            .talk-location {
                font-style: italic;
            }
            .schedule-rollup {
                padding: 5%;
                background-color: #E6E6E6;
                h2 {
                    font-size: 1.6em;
                }
                li {
                    font-size: 1.2em;
                }
            }
            .schedule-left-screen,
            .schedule-right-screen {
                background-color: #E6E6E6;
                border: 7px outset #333;
                padding: 1%;
            }
        }
    }
    //https://brandcolors.net
    .icon-twitter-color {
        fill:#1da1f2;
    }
    .icon-facebook-color {
        fill:#3b5999;
    }
    .icon-instagram-color {
        fill:#e4405f;
    }
    .icon-linkedin-color {
        fill:#0a66c2;
    }
    .icon-xing-color {
        fill:#126567;
    }
    .icon-youtube-color {
        fill:#ff0000;
    }
    .icon-website-color {
        fill:#ddd;
    }
    #scrolldown {
        display: none;
        @media screen and (min-width: 66.25em) {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
            background: transparent;
            //border: 1px solid #fff;
            color: #fff;
            text-shadow: 0 0 2px #000;
            z-index: 100;
            //padding: 4px 24px ;
            outline: none;
            opacity: 1;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            text-decoration: none;
            height: auto; // Fix f端r FAU-Events
            padding: 0;   // Fix f端r FAU-Events
            border: none; // Fix f端r FAU-Events
            .scroll-down-icon {
                fill: #fff;
                vertical-align: bottom;
                -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
            }
        }
    }
    ul.hall-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        li {
            display: block;
            background-color: rgba(255,255,255,.7);
            padding: 10px;
            flex-basis: 240px;
            flex-grow: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,.5);
            margin: 10px 10px 30px;
            text-align: center;
        }
        img {
            box-shadow: none; // fix f端r FAU-Einrichtungen
        }
        .booth-logo,
        .booth-title {
            display: block;
        }
        .booth-logo {
            width: 100%;
            height: 120px;
            object-fit: contain;
        }
        .booth-title {
            padding-top: 5px;
        }
    }
}

#rrze-expo-booth {
    svg.expo-booth {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

#rrze-expo-podium {
    svg.expo-podium {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

#rrze-expo-foyer {
    svg.expo-foyer {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        .table-logo image {
            width: 100%;
            height: 100%;
        }
    }
    .panel-content {
        padding: 30px;
        color: #333;
        font-size: 1.4rem;
    }
}

#rrze-expo-exposition {
    svg.expo-exposition {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .panel-content {
        padding: 30px;
        color: #333;
        font-size: 1.4rem;
    }
}

#rrze-expo-exposition-content,
#rrze-expo-foyer-content,
#rrze-expo-hall-content,
#rrze-expo-podium-content,
#rrze-expo-booth-content {
    & * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        @media screen and (min-width: 66.25em) {
            font-size: 18px;
        }
    }
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    @media screen and (min-width: 37.5em) {
        width: 90%;
        padding: 20px 15px;
    }
    @media screen and (min-width: 66.25em) {
        width: 80%;
        padding: 30px 15px;
    }
    @media screen and (min-width: 85em) {
        width: 70%;
    }
    @media screen and (min-width: 112.5em) {
        width: 60%;
    }
}
#rrze-expo-booth-content {
    .rrze-expo-booth-text {
        @media screen and (min-width: 37.5em) {
            width: 67%;
            float: left;
        }
    }
    .rrze-expo-booth-contact,
    .rrze-expo-booth-links {
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @media screen and (min-width: 37.5em) {
            width: 30%;
            float: right;
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid #aaa;
            border-bottom: none;
            margin-bottom: 30px;
        }
    }
    .rrze-expo-booth-contact {
        border-top: 1px solid #aaa;
        @media screen and (min-width: 37.5em) {
            border-top: none;
        }
        ul.booth-contact {
            margin-bottom: 10px;
            padding-left: 0;
            * {
                font-size: 16px;
                @media screen and (min-width: 66.25em) {
                    font-size: 17px;
                }
            }
            li {
                list-style-type: none;
                a {
                    display: inline-block;
                    text-decoration: none;
                    &:before {
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        font-size: 16px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        content: ' ';
                        background-size: 100%;
                        background-position: center center;
                        margin-right: 7px;
                    }
                }
                &.booth-contact-email a:before {
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 500"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg>');
                }
                &.booth-contact-website a:before {
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/></svg>');
                }
                &.booth-contact-chat a:before {
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 500"><path d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"/></svg>');
                }
            }
        }
        ul.booth-socialmedia {
            padding-left: 0;
            margin-bottom: 5px;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 5px;
            }
        }
        .contact-info {
            font-size: 16px;
            @media screen and (min-width: 66.25em) {
                font-size: 17px;
            }
        }
    }
    .rrze-expo-booth-links {
        h3,
        ul.booth-links {

            * {
                font-size: 16px;
                @media screen and (min-width: 66.25em) {
                    font-size: 17px;
                }
            }
        }
        ul.booth-links {
            margin-bottom: 5px;
            padding-left: 20px;
        }
        h3 {
            margin-top: 5px;
        }
    }
}

#rrze-expo-exposition-content {
    .rrze-expo-exposition-text {
        @media screen and (min-width: 37.5em) {
            width: 67%;
            float: left;
        }
    }
    .rrze-expo-exposition-organizer {
        border-bottom: 1px solid #aaa;
        border-top: 1px solid #aaa;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @media screen and (min-width: 37.5em) {
            width: 30%;
            float: right;
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid #aaa;
            border-bottom: none;
            margin-bottom: 30px;
            border-top: none;
        }
    }
}
