/*
Plugin Style
*/
.rrze-expo {

    div.puls-container {
        width: 100%;
        height: 150px;
        position: relative;
        display: table;
        //margin: 50px auto;
        @media screen and (min-width: 37.5em) {
            height: 60px;
        }
        @media not all and (min-resolution:.001dpcm) {
            @supports (-webkit-appearance:none) {
                display: none !important;
            }
        }
    }
    div.puls {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 10px solid #fff;
        display: table;
        background: #000;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -75px 0 0 -75px;
        -webkit-animation: pulsate 5s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0;
        box-shadow: 0 0 15px #000;
        @media screen and (min-width: 37.5em) {
            width: 40px;
            height: 40px;
            margin: -20px 0 0 -20px;
            border: 3px solid #fff;
        }
    }
    @-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 1;}
        80% {opacity: 0.7;}
        100% {-webkit-transform: scale(0.8, 0.8); opacity: 0.0;}
    }
    @media screen and (min-width: 37.5em) {
        @-webkit-keyframes pulsate {
            0% {-webkit-transform: scale(0.1, 0.1); opacity: 1;}
            70% {opacity: 0.6;}
            100% {-webkit-transform: scale(1.5, 1.5); opacity: 0.0;}
        }
    }
    div.puls-middle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
        z-index: 99;
        box-shadow: 0 2px 5px rgba(0,0,0,.5);
        @media screen and (min-width: 37.5em) {
            width: 24px;
            height: 24px;
            margin: -12px 0 0 -12px;
        }
    }

    ul.jumplinks {
        margin: 0;
    }
    img {
        box-shadow: none;
    }
    svg.expo-booth {
        /*perspective: 400px;
        .rollup-content {
            width: 155px;
            height: 155px;
            transform: rotateY(45deg);
            img {
                object-fit: cover;
            }
        }*/
    }
    .site-header {
        #rrze-expo-header-content {
            position: relative;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            @media screen and (min-width: 37.5em) {
                width: 90%;
                padding: 10px;
                //padding: 10px 30px;
            }
            @media screen and (min-width: 66.25em) {
                width: 80%;
            }
        }
        .rrze-expo-header-content,
        .rrze-expo-header-content a {
            @media screen and (min-width: 26.25em) {
                display: flex;
                align-items: center;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
        .expo-logo {
            //max-width: 30%;
            max-height: 100px;
            width: auto;
            margin-right: 10px;
            @media screen and (min-width: 37.5em) {
                margin-right: 20px;
            }
            @media screen and (min-width: 66.25em) {
                margin-right: 30px;
            }
        }
        .expo-title {
            flex: 1 0 70%;
            font-size: 20px;
            line-height: 1.3;
            padding: 0;
            margin: 0;
            @media screen and (min-width: 37.5em) {
                font-size: 28px;
            }
            @media screen and (min-width: 66.25em) {
                font-size: 32px;
            }
        }
        .expo-subtitle {
            @media screen and (min-width: 37.5em) {
                font-size: 18px;
            }
            @media screen and (min-width: 66.25em) {
                font-size: 22px;
            }
        }
    }
    #sidebar-language_switcher {
        position: absolute;
        bottom: 0;
        right: 0;
        top: unset;
        left: unset;
        padding: 0;
        .widget.widget_rrze_multilang_language_switcher {
            padding-bottom: 0;
        }
        .rrze-multilang {
            padding: 3px 5px;
            height: auto;
            display: block;
            &:before {
                color: #036;
            }
        }
        .widget-area .mlp_language_box ul,
        .widget-area .rrze-multilang ul {
            li a {
                font-size: .9em;
                color: #036;
                &:hover, &:focus, &:active {
                    color: #036;
                }
            }
            @media screen and (min-width: 1200px) {
                margin: 0;
            }
        }
    }
    &.single-hall,
    &.single-booth,
    &.single-podium {
        #sidebar-language_switcher {
            @media screen and (min-width: 48em) {
                bottom: -36px;
                z-index: 999;
            }
            .rrze-multilang {
                display: inline-block;
                padding: 0 5px;
            }
        }
    }

    main {
        position: relative;
        overflow-x: hidden;
        .nav-bar {
            background: #f3f3f5;
            position: relative;
        }
        #rrze-expo-navigation {
            ul {
                display: table;
                margin: 0 auto;
                padding: 0;
                text-align: center;
            }
            li {
                list-style-type: none;
                a {
                    color: #036;
                    text-decoration: none;
                    &:hover, &:focus, &:active {
                        text-decoration: underline;
                    }
                }
            }
            li.hall-link,
            li.foyer-link {
                display: inline-block;
                font-size: 14px;
                text-align: center;
                background: #f3f3f5;
                padding: 5px;
                svg {
                    vertical-align: top;
                    fill: #036;
                }
                a {
                    margin-right: 20px;
                }
            }
            li.prev-booth,
            li.next-booth,
            li.prev-podium,
            li.next-podium {
                font-size: 14px;
                @media screen and (min-width: 37.5em) {
                    display: block;
                    position: absolute;
                    top: 40vmin;
                    padding: 0;
                    z-index: 100;
                    font-size: revert;
                }
                &:hover, &:focus, &:active {
                    .nav-prev-text {
                        @media screen and (min-width: 37.5em) {
                            left: 65px;
                        }
                    }
                    .nav-next-text {
                        @media screen and (min-width: 37.5em) {
                            right: 65px;
                        }
                    }
                }
                &.prev-booth,
                &.prev-podium {
                    left: 5px;
                    a {
                        padding: 5px 5px 5px 0;
                        @media screen and (min-width: 37.5em) {
                            padding: 0;
                        }
                    }
                    svg {
                        @media screen and (min-width: 37.5em) {
                            padding: 7px 7px 7px 2px;
                        }
                    }
                }
                &.next-booth,
                &.next-podium {
                    right: 5px;
                    a {
                        padding: 5px 0 5px 5px;
                        @media screen and (min-width: 37.5em) {
                            padding: 0;
                        }
                    }
                    svg {
                        @media screen and (min-width: 37.5em) {
                            padding: 7px 2px 7px 7px;
                        }
                    }
                }
                a {
                    display: block;
                    @media screen and (min-width: 37.5em) {
                        color: #000;
                        text-shadow: 0 0 3px #fff;
                    }
                    &:hover, &:focus, &:active {
                        svg {
                            background-color: rgba(0, 0, 0, .6);
                            border: 1px dashed #fff;
                        }
                    }
                }
                .nav-prev-text,
                .nav-next-text {
                    @media screen and (min-width: 37.5em) {
                        display: block;
                        position: absolute;
                        min-width: 200px;
                        max-width: 300px;
                        top: 0;
                        background-color: rgba(255, 255, 255, .8);
                        padding: 5px;
                    }
                    .booth-title,
                    .podium-title {
                        display: none;
                        @media screen and (min-width: 37.5em) {
                            display: inline;
                            font-weight: bold;
                        }
                    }
                }
                .nav-prev-text {
                    @media screen and (min-width: 37.5em) {
                        left: -300px;
                        transition: left 300ms;
                    }
                }
                .nav-next-text {
                    @media screen and (min-width: 37.5em) {
                        right: -300px;
                        transition: right 300ms;
                    }
                }
                svg {
                    width: 16px;
                    height: 16px;
                    fill: #036;
                    vertical-align: top;
                    @media screen and (min-width: 37.5em) {
                        fill: #fff;
                        -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                        border-radius: 50%;
                        background-color: rgba(0,0,0,.4);
                        width: 60px;
                        height: 60px;
                    }
                }
            }
            li.prev-booth,
            li.prev-podium {
                float: left;
                text-align: left;
                @media screen and (min-width: 37.5em) {
                    float: none;
                }
            }
            li.next-booth,
            li.next-podium {
                float: right;
                text-align: right;
                @media screen and (min-width: 37.5em) {
                    float: none;
                }
            }
        }
    }
    .exposition, .foyer, .hall, .podium, .booth {
        position: relative;
        width: 100vw;
        height: 50vw;
        //max-height: 85vmin;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        //color: #fff;
        overflow: hidden;
        display: block;
        padding: 0;
        &:after {
            z-index: -90;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
        }
    }
    .hall {
        height: auto;
        min-height: 50vw;
        overflow-y: scroll;
        padding: 10px;
        @media screen and (min-width: 37.5em) {
            padding: 30px;
        }
    }
    .podium {
        foreignObject.video {
            background: #000;
        }
        .rrze-video,.wp-video, .plyr {
            height: 100%;
            video {
                object-fit: contain;
                height: 100%;
            }
        }
        .schedule {
            .talk-title {
                font-weight: bold;
            }
        }
        .wp-video {
            margin: 0 auto;
        }
        .video-error {
            font-size: 1.6em;
        }
        foreignObject.schedule {
            .schedule-content {
                padding: 20px;
                background: #fff;
                height: 777px;
                overflow-y: auto;
                h2 {
                    font-size: 1.6em;
                    text-align: center;
                }

                h3 {
                    font-size: 1.2em;
                }

                table {
                    margin-bottom: 10px;
                }

                td {
                    font-size: 1.2em;
                }
            }
        }
    }
    .booth {
        foreignObject.video .rrze-video,
        foreignObject.video .wp-video {
            border: 7px outset #333;
            background: #222;
        }
        .schedule {
            h2 {
                font-size: 1.4em;
                line-height: 1.2;
                padding: 0 0 .3em 0;
                margin: 0 0 .3em 0;
                border-bottom: 1px solid #C5C5C5;
            }
            ul {
                margin: 0;
                padding: 0
            }
            li {
                font-size: 1.1em;
                line-height: 1.4;
                list-style-type: none;
                padding-bottom: .3em;
            }
            .talk-title {
                font-weight: bold;
            }
            .talk-location {
                font-style: italic;
            }
            .schedule-rollup {
                padding: 5%;
                background-color: #E6E6E6;
                height: 777px;
                overflow-y: auto;
                h2 {
                    font-size: 1.6em;
                }
                li {
                    font-size: 1.2em;
                }
            }
            .schedule-left-screen,
            .schedule-right-screen {
                height: 200px;
                overflow-y: auto;
                background-color: #E6E6E6;
                border: 7px outset #333;
                padding: 1%;
            }
        }
    }
    //https://brandcolors.net
    .icon-twitter-color {
        fill:#1da1f2;
    }
    .icon-facebook-color {
        fill:#3b5999;
    }
    .icon-instagram-color {
        fill:#e4405f;
    }
    .icon-linkedin-color {
        fill:#0a66c2;
    }
    .icon-xing-color {
        fill:#126567;
    }
    .icon-youtube-color {
        fill:#ff0000;
    }
    .icon-website-color,
    .icon-paper-plane-color {
        fill:#ddd;
    }
    #scrolldown {
        display: none;
        @media screen and (min-width: 66.25em) {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
            background: transparent;
            //border: 1px solid #fff;
            color: #fff;
            text-shadow: 0 0 2px #000;
            z-index: 100;
            //padding: 4px 24px ;
            outline: none;
            opacity: 1;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            text-decoration: none;
            height: auto; // Fix für FAU-Events
            padding: 0;   // Fix für FAU-Events
            border: none; // Fix für FAU-Events
            .scroll-down-icon {
                fill: #fff;
                vertical-align: bottom;
                -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                border-radius: 50%;
                background-color: rgba(0,0,0,.3);
                padding: 5px 5px 1px 5px;
                @media screen and (min-width: 37.5em) {
                    width: 60px;
                    height: 60px;
                    padding: 7px 7px 2px 7px;
                }
            }
        }
        &:hover, &:focus, &:active {
            .scroll-down-icon {
                @media screen and (min-width: 66.25em) {
                    background-color: rgba(0, 0, 0, .6);
                    border: 1px dashed #fff;
                }
            }
        }
    }
    ul.hall-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
        padding: 0;
        @media screen and (min-width: 37.5em) {
            width: 90%;
            padding: 5px 0 15px;
        }
        @media screen and (min-width: 66.25em) {
            width: 80%;
            padding: 10px 0 20px;
        }
        li {
            display: block;
            background-color: rgba(255,255,255,.7);
            padding: 10px;
            flex-basis: 240px;
            flex-grow: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,.5);
            margin: 10px 10px 30px;
            text-align: center;
        }
        img {
            box-shadow: none; // fix für FAU-Einrichtungen
        }
        .booth-logo,
        .booth-title {
            display: block;
        }
        .booth-logo {
            width: 100%;
            height: 120px;
            object-fit: contain;
        }
        .booth-title {
            padding-top: 5px;
        }
    }
    #rrze-expo-hall .hall-title {
        color: #fff;
        font-size: 5vmin;
        font-weight: normal;
        padding: 0 5px 10px;
        //max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 37.5em) {
            width: 90%;
            padding: 5px 10px 15px;
        }
        @media screen and (min-width: 66.25em) {
            width: 80%;
            padding: 10px 10px 20px;
        }
    }

}
a.tablet-link {
    display: block;
    &:focus {
        border: 2px dashed #fff;
    }
}
#tablet {
     #tabletbildschirmakzent {
        --tabletbildschirmakzent_fill: #ffffff;
    }
    &:hover, &:focus, &:active {
        #tabletbildschirmakzent {
            --tabletbildschirmakzent_fill: #333333;
        }
    }
}

#rrze-expo-booth {
    svg.expo-booth {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

#rrze-expo-podium {
    svg.expo-podium {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

#rrze-expo-foyer {
    svg.expo-foyer {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        .table-logo image {
            width: 100%;
            height: 100%;
        }
    }
    .panel-content {
        padding: 30px;
        color: #333;
        font-size: 1.4rem;
    }
}

#rrze-expo-exposition {
    svg.expo-exposition {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .panel-content {
        padding: 30px;
        color: #333;
        font-size: 1.4rem;
        height: 100%;
    }
}

#rrze-expo-exposition-content,
#rrze-expo-foyer-content,
#rrze-expo-hall-content,
#rrze-expo-podium-content,
#rrze-expo-booth-content {
    & * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        @media screen and (min-width: 66.25em) {
            font-size: 18px;
        }
    }
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    @media screen and (min-width: 37.5em) {
        width: 90%;
        padding: 20px 15px;
    }
    @media screen and (min-width: 66.25em) {
        width: 80%;
        padding: 30px 15px;
    }
    @media screen and (min-width: 85em) {
        width: 70%;
    }
    @media screen and (min-width: 112.5em) {
        width: 60%;
    }
}
#rrze-expo-booth-content {
    .rrze-expo-booth-text {
        @media screen and (min-width: 37.5em) {
            width: 67%;
            float: left;
        }
    }
    .rrze-expo-booth-contact,
    .rrze-expo-booth-links {
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @media screen and (min-width: 37.5em) {
            width: 30%;
            float: right;
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid #aaa;
            border-bottom: none;
            margin-bottom: 30px;
        }
    }
    .rrze-expo-booth-contact {
        border-top: 1px solid #aaa;
        @media screen and (min-width: 37.5em) {
            border-top: none;
        }
        ul.booth-contact {
            margin-bottom: 10px;
            padding-left: 0;
            * {
                font-size: 16px;
                @media screen and (min-width: 66.25em) {
                    font-size: 17px;
                }
            }
            li {
                list-style-type: none;
                a {
                    display: inline-block;
                    text-decoration: none;
                    &:before {
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        font-size: 16px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        content: ' ';
                        background-size: 100%;
                        background-position: center center;
                        margin-right: 7px;
                    }
                    &:hover, &:focus, &:active {
                        text-decoration: underline;
                    }
                }
                &.booth-contact-email a:before {
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 500"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg>');
                }
                &.booth-contact-website a:before {
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/></svg>');
                }
                &.booth-contact-chat a:before {
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 500"><path d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"/></svg>');
                }
            }
        }
        ul.booth-socialmedia {
            padding-left: 0;
            margin-bottom: 5px;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 5px;
            }
        }
        .contact-info {
            font-size: 16px;
            @media screen and (min-width: 66.25em) {
                font-size: 17px;
            }
        }
        .form-link {
            a {
                display: inline-block;
                font-size: 16px;
                text-decoration: none;
                @media screen and (min-width: 66.25em) {
                    font-size: 17px;
                }
                &:before {
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    font-size: 16px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    content: ' ';
                    background-size: 100%;
                    background-position: center center;
                    margin-right: 7px;
                    background-image: url('data:image/svg+xml;charset=UTF-8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 500"><path d="M440 6.5L24 246.4c-34.4 19.9-31.1 70.8 5.7 85.9L144 379.6V464c0 46.4 59.2 65.5 86.6 28.6l43.8-59.1 111.9 46.2c5.9 2.4 12.1 3.6 18.3 3.6 8.2 0 16.3-2.1 23.6-6.2 12.8-7.2 21.6-20 23.9-34.5l59.4-387.2c6.1-40.1-36.9-68.8-71.5-48.9zM192 464v-64.6l36.6 15.1L192 464zm212.6-28.7l-153.8-63.5L391 169.5c10.7-15.5-9.5-33.5-23.7-21.2L155.8 332.6 48 288 464 48l-59.4 387.3z"/></svg>');
                }
                &:hover, &:focus, &:active {
                    text-decoration: underline;
                }
            }
        }
    }
    .rrze-expo-booth-links {
        @media screen and (min-width: 37.5em) {
            clear: right;
        }
        h3,
        ul.booth-links {
            * {
                font-size: 16px;
                @media screen and (min-width: 66.25em) {
                    font-size: 17px;
                }
            }
        }
        ul.booth-links {
            margin-bottom: 5px;
            padding-left: 20px;
        }
        h3 {
            margin-top: 5px;
        }
    }
}

#rrze-expo-exposition-content {
    .rrze-expo-exposition-text {
        @media screen and (min-width: 37.5em) {
            width: 67%;
            float: left;
        }
    }
    .rrze-expo-exposition-organizer {
        border-bottom: 1px solid #aaa;
        border-top: 1px solid #aaa;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @media screen and (min-width: 37.5em) {
            width: 30%;
            float: right;
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid #aaa;
            border-bottom: none;
            margin-bottom: 30px;
            border-top: none;
        }
    }
}
