/*
Plugin Style
*/
.rrze-expo {

    div.puls-container {
        width: 100%;
        height: 60px;
        position: relative;
        display: table;
        margin: 50px auto;
    }
    div.puls {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid #5dd39e;
        display: table;
        background: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -15px 0 0 -15px;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0;
    }
    @-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
        50% {opacity: 1.0;}
        100% {-webkit-transform: scale(3.2, 3.2); opacity: 0.0;}
    }
    div.puls-middle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #ff1654;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -10px 0 0 -10px;
        z-index: 99;
    }

    ul.jumplinks {
        margin: 0;
    }
    img {
        box-shadow: none;
    }
    svg.expo-booth {
        /*perspective: 400px;
        .rollup-content {
            width: 155px;
            height: 155px;
            transform: rotateY(45deg);
            img {
                object-fit: cover;
            }
        }*/
    }
    .site-header {
        #rrze-expo-header-content {
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            @media screen and (min-width: 37.5em) {
                width: 90%;
                padding: 10px;
                //padding: 10px 30px;
            }
            @media screen and (min-width: 66.25em) {
                width: 80%;
            }
        }
        .rrze-expo-header-content,
        .rrze-expo-header-content a {
            display: flex;
            align-items: center;
        }
        a {
            color: inherit;
            text-decoration: none;
            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
        .expo-logo {
            //max-width: 30%;
            max-height: 100px;
            width: auto;
            margin-right: 10px;
            @media screen and (min-width: 37.5em) {
                margin-right: 20px;
            }
            @media screen and (min-width: 66.25em) {
                margin-right: 30px;
            }
        }
        .expo-title {
            flex: 1 0 70%;
            font-size: 20px;
            line-height: 1.3;
            padding: 0;
            margin: 0;
            @media screen and (min-width: 37.5em) {
                font-size: 28px;
            }
            @media screen and (min-width: 66.25em) {
                font-size: 32px;
            }
        }
        .expo-subtitle {
            @media screen and (min-width: 37.5em) {
                font-size: 18px;
            }
            @media screen and (min-width: 66.25em) {
                font-size: 22px;
            }
        }
    }
    main {
        position: relative;
        overflow-x: hidden;
        .booth-nav {
            background: #f3f3f5;
            ul {
                display: table;
                margin: 0 auto;
            }
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                }
            }
            li.hall-link,
            li.foyer-link {
                display: inline-block;
                font-size: 14px;
                text-align: center;
                background: #f3f3f5;
                padding: 5px;
                svg {
                    vertical-align: text-top;
                    fill: #036;
                }
                a {
                    margin-right: 20px;
                }
            }
            li.prev-booth,
            li.next-booth {
                display: block;
                position: absolute;
                top: 40vh;
                padding: 0;
                z-index: 100;
                &:hover {
                    .nav-prev-text {
                        left: 40px;
                    }
                    .nav-next-text {
                        right: 40px;
                    }
                }
                &.prev-booth {
                    left: 0px;
                    a {
                        padding: 5px 5px 5px 0;
                    }
                }
                &.next-booth {
                    right: 0;
                    a {
                        padding: 5px 0 5px 5px;
                    }
                }
                a {
                    display: block;
                }
                .nav-prev-text,
                .nav-next-text {
                    display: block;
                    position: absolute;
                    min-width: 200px;
                    top: 0;
                    background-color: rgba(255,255,255,.8);
                    padding: 5px;
                }
                .nav-prev-text {
                    left: -200px;
                    transition: left 300ms;
                }
                .nav-next-text {
                    right: -200px;
                    transition: right 300ms;
                }
                svg {
                    fill: #fff;
                    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                }
            }
        }
    }
    .exposition, .foyer, .hall, .podium, .booth {
        position: relative;
        width: 100vw;
        height: 50vw;
        //max-height: 85vmin;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        overflow: hidden;
        display: block;
        padding: 0;
        &:after {
            z-index: -90;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
        }
    }
    .exposition, .foyer, .hall, .podium {
        padding: 10px;
        @media screen and (min-width: 37.5em) {
            padding: 30px;
        }
    }
    .podium {
        .timetable {
            background: #0b7cac;
            padding: 10px;
            width: 500px;
        }
    }
    .booth {
        foreignObject.video .rrze-video {
            border: 7px outset #333;
        }
        .timetable {
            background-color: #E6E6E6;
            border: 4px inset #333;
            padding: .5%;
            h2 {
                font-size: calc(1em + 2vmin);
                line-height: 1.2;
                padding: 0 0 .5vmin 0;
                margin: 0 0 1vmin 0;
                border-bottom: 1px solid #C5C5C5;
            }
            ul {
                margin: 0;
            }
            li {
                font-size: calc(1em + .5vmin);
                line-height: 1.2;
                list-style-type: none;
                padding-bottom: 1vmin;
            }
            .talk-title {
                font-weight: bold;
            }
            .talk-location {
                font-style: italic;
            }
        }
    }
    //https://brandcolors.net
    .icon-twitter {
        fill:#1da1f2;
    }
    .icon-facebook {
        fill:#3b5999;
    }
    .icon-instagram {
        fill:#e4405f;
    }
    #scrolldown {
        display: none;
        @media screen and (min-width: 66.25em) {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
            background: transparent;
            //border: 1px solid #fff;
            color: #fff;
            text-shadow: 0 0 2px #000;
            z-index: 100;
            //padding: 4px 24px ;
            outline: none;
            opacity: 1;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            text-decoration: none;
            height: auto; // Fix für FAU-Events
            padding: 0;   // Fix für FAU-Events
            border: none; // Fix für FAU-Events
            .scroll-down-icon {
                fill: #fff;
                vertical-align: bottom;
                -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
            }
        }
    }
    ul.hall-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        li {
            display: block;
            background-color: rgba(255,255,255,.7);
            padding: 10px;
            flex-basis: 220px;
            flex-grow: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,.5);
            margin-bottom: 20px;
        }
        img {
            box-shadow: none; // fix für FAU-Einrichtungen
        }
        .booth-logo,
        .booth-title {
            display: block;
        }
        .booth-logo {
            width: 100%;
            height: 120px;
            object-fit: contain;
        }
        .booth-title {
            padding-top: 5px;
        }
    }
}

#rrze-expo-booth {
    svg.expo-booth {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

#rrze-expo-exposition-content,
#rrze-expo-foyer-content,
#rrze-expo-hall-content,
#rrze-expo-podium-content,
#rrze-expo-booth-content {
    & * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        @media screen and (min-width: 66.25em) {
            font-size: 18px;
        }
    }
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    @media screen and (min-width: 37.5em) {
        width: 90%;
        padding: 20px 15px;
    }
    @media screen and (min-width: 66.25em) {
        width: 80%;
        padding: 30px 15px;
    }
    @media screen and (min-width: 85em) {
        width: 70%;
    }
    @media screen and (min-width: 112.5em) {
        width: 60%;
    }
}
