/*
Plugin Style
*/
.single-booth, .single-hall, .single-foyer {
    ul.jumplinks {
        margin: 0;
    }
}
.rrze-expo {
    .foyer, .hall, .booth {
        position: relative;
        width: 100%;
        z-index: 1;
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        overflow: hidden;
        display: block;
        padding: 10px 10px 50px 10px;
        @media screen and (min-width: 37.5em) {
            padding: 30px 30px 50px 30px;
        }
        &:after {
            z-index: -90;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            //background-color: #fff;
            //opacity: 0.3;
        }
    }
    #scrolldown {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        background: transparent;
        //border: 1px solid #fff;
        color: #fff;
        text-shadow: 0 0 2px #000;
        z-index: 100;
        //padding: 4px 24px ;
        outline: none;
        opacity: 1;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        text-decoration: none;
        .scroll-down-icon {
            fill: #fff;
            vertical-align: bottom;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
        }
    }
    ul.hall-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            display: block;
            background-color: rgba(255,255,255,.7);
            padding: 10px;
            flex-basis: 220px;
            flex-grow: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,.5);
        }
        img {
            box-shadow: none; // fix für FAU-Einrichtungen
        }
        .booth-logo,
        .booth-title {
            display: block;
        }
        .booth-logo {
            width: 100%;
            height: 120px;
            object-fit: contain;
        }
        .booth-title {
            padding-top: 5px;
        }
    }
}

#rrze-expo-booth {
    svg.expo-booth {
        //height: 80vh;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        a path {
            @keyframes hideshow {
                90% {
                    opacity:1;
                }
                95% {
                    opacity:.5;
                }
                100% {
                    opacity:1;
                }
            }
            //animation: hideshow 7s ease infinite;
        }
    }
    .booth-nav {
        li {
            display: block;
            position: absolute;
            top: 40%;
            padding: 0;
            transition: width 250ms;
            &:hover {
                .nav-prev-text {
                    left: 40px;
                }
                .nav-next-text {
                    right: 40px;
                }
            }
            &.prev-booth {
                left: 0px;
                a {
                    padding: 5px 5px 5px 0;
                }
            }
            &.next-booth {
                right: 0;
                a {
                    padding: 5px 0 5px 5px;
                }
            }
            a {
                display: block;
                //transition: left 250ms;
            }
            .nav-prev-text,
            .nav-next-text {
                display: block;
                position: absolute;
                min-width: 200px;
                top: 0;
                background-color: rgba(255,255,255,.7);
                padding: 5px;
            }
            .nav-prev-text {
                left: -200px;
                transition: left 250ms;
            }
            .nav-next-text {
                right: -200px;
                transition: right 250ms;
            }
            svg {
                fill: #fff;
                -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));
            }
        }
    }
}

#rrze-expo-header-content {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    @media screen and (min-width: 37.5em) {
        width: 90%;
    }
    @media screen and (min-width: 66.25em) {
        width: 80%;
    }
}
.top-links {
    font-size: 14px;
    text-align: center;
    background: #f3f3f5;
    padding: 5px;
    svg {
        vertical-align: middle;
        fill: #036;
    }
    a {
        margin-right: 20px;
    }
}
#rrze-expo-foyer-content,
#rrze-expo-hall-content,
#rrze-expo-booth-content {
    & * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        @media screen and (min-width: 66.25em) {
            font-size: 18px;
        }
    }
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    @media screen and (min-width: 37.5em) {
        width: 90%;
        padding: 20px 15px;
    }
    @media screen and (min-width: 66.25em) {
        width: 80%;
        padding: 30px 15px;
    }
    @media screen and (min-width: 85em) {
        width: 70%;
    }
    @media screen and (min-width: 112.5em) {
        width: 60%;
    }
}
